{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": false
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic",
                "useBuiltIns": true
            }
        ]
    ]
}